.main-wrap{
    width: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
}
.title{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 30px;
    font-family: 'Galada', cursive;
   
}
.boder-solid{
    display: flex;
    align-items: center;
}
.boder-solid:before,.boder-solid:after{
    border-top: 1px solid;
    flex-grow: 1;
    content: "";
}
.boder-solid:before{
    margin-left: 100px;
    margin-right: 20px;
}
.boder-solid:after{
    margin-right: 100px;
    margin-left: 20px;
}

.top-title{
    z-index: 100;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.top-title{
    font-size: 50px;
    margin-top:30px ;
    margin-left: 20px;
    font-family: 'Galada', cursive;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 40px;
    font-size: 30px;
   
  
}
.nav-list li{
    margin-right: 40px ;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Galada', cursive;
    

}
.banner{
    width: 100%;
    
}
.banner img{
    width: 100%;
    height: 500px;
}
.about{
    margin: 0 auto;
    display: flex;
  justify-content: space-around;
  
  
}
.self-img{
 width: 50%;
 text-align: center;
 margin-left: 100px;

}
.self-img img{
    width: 100%;
    margin-left: 100px;
    margin-top: 50px;
    box-shadow: 0px 8px 10px -3px rgba(0,0,0,0.5);
    display: inline-block;
    border-radius: 40%;
   
  
}
.history{
    display: block;
    flex-direction:column;
    width: 60%;
    margin-left: 30px;
    line-height: 32px;
    margin: 0 auto;
    border: 1px solid #d1cece;
    margin-bottom: 20px;
    box-shadow: 0px 8px 10px -3px rgba(0,0,0,0.5);
    border-radius: 10px;

}


.history h3{
    text-align: center;
    font-weight: bold;
    font-family: 'Galada', cursive;
   
}
.history h4{
    text-align: center;
    font-weight: bold;
   
  
}

.history p{
    text-align: left;
   
}
.skill{
    display: flex;
    flex-wrap:wrap;
    
}
.skill-title{
    font-family: 'Galada', cursive;
}
.skill-item{
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
    border: 1px solid #d1cece;
    box-shadow: 0px 8px 10px -3px rgba(0,0,0,0.5);

}
.jquery-item{
    padding-top: 10px;
    padding-bottom: 30px;
}
.skill-item img{
    width: 30%;
    /* display: inline-block; */
   text-align: center;
   padding-top: 16px;
} 

.js-item{
    padding-top:50px ;
}
.works{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.works-title{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
   
    font-family: 'Galada', cursive;
}
.works-item{
    width: 40%;
    border: 1px solid #d1cece;
    border-radius: 30px;
}
.works-item img{
    width: 100%;
}
.works-item img:hover{
    opacity: 0.7;
    transition: all 0.2s;
}
.works-item h3{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 10px;
}
.works-item  p{
    padding: 10px;
    text-align: center;

}

.footer{
    background: #C0C0C0;
    height: 60px;
    margin-top: 100px;
}
/* .contact{
    margin: 30px auto;
    width: 50%;
    display: block;
   

} */

/* form */
.contact{
    background: #ececec;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 40px ;
   
}
.contact h3{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    margin-top: 30px;
    font-family: 'Galada', cursive;
    padding-top: 30px;
}
.form{
    border: 1px solid #d1cece;
    height: 400px;
   /* text-align: center; */
   background: #fff;
   width: 50%;
   box-shadow: 4px 4px 7px #d1cece ;
 height: auto;
   margin: 30px auto;
   border-radius: 10px;
   overflow: hidden;
}
.name{
    position: relative;
    width: 80%;
    margin: 10px auto;
}
.name input[type="text"]{
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 1px;
  padding: 10px;
    border: 1px solid #333;
    
}
.name input[type="text"]:focus{
    outline: none;
}
.email{
    width: 80%;
    margin: 10px auto;
}
.email input[type="text"]{
    width: 100%;
    border: 1px solid  #333;
    padding: 10px;
}
.text{
    width: 80%;
    margin: 10px auto;
}
.text input[type="textarea"]{
width: 100%;
border: 1px solid  #333;
height: 300px;
padding: 10px;
}
.submit input[type="submit"]{
    width: 30%;
    float: right;
    text-align: center;
    margin: 10px;
    font-size: 16px;
    background: #007991;
    padding: 10px;
    border-radius: 5px;

}
.submit input[type="submit"]:hover{
    opacity: .7;

}
.img-cover img{
    background-color: #000;
    transition: all .7s;
}
.img-cover:hover{
    background-color: #000;
   transition: all .7s;
}
.contact {
    margin-top: 20px;
}

/* fadeIn */
[data-fadeIn]{
    opacity: 0;
    transition: all 1.6s;
    transform: translateY(150px);
}
[data-fadeIn].is-over{
    opacity: 1;
    transform: translateY(0);
}

/*　トップページへ戻る */
.cercle-baner{
    position: fixed;
    right: 0;
    bottom: 10px;
    width: 50px;
    z-index: 10;
    transition: all 0.5s;
    transform: translateX(100%) rotate(90deg);
}
.cercle-baner img{
    width: 100%;
    border-radius: 50%;
}
.cercle-baner.is-over{
    right: 10px;
    transform: translateX(0) rotate(0);
}
/* スマホメニュー */
.sp-menu{
    display: none;
    width: 100%;
    height: 100vh;
    background: #000;
}
.sp-menu.is-active{
    display: block;
    width: 100%;
   
}
.sp-nav{
    width: 100%;
    margin: 0 auto;
    
}
.sp-nav li{
    text-align: center;
    font-size: 16px;
    z-index: 10;
    color: white;

}


@media screen and (max-width:768px){
    .container{
        width: 100%;
    }
    .title{
        margin:30px auto;
    }
    .top-title{
        font-size: 20px;
    }
    .nav-list{
        display: none;
    }
    .sp-menu{
        position: fixed;
        display: block;
        width: 100%;
        top: 45px;
        left: 100%;
        background: rgba(255,255,255,0.95);
        height: 100vh;
        z-index: 10;
        transition: all 0.4s;
    }
    .sp-nav{
        width: 100%;
        margin: 0 auto;
        
    }
    .sp-nav li{
        text-align: center;
        font-size: 16px;
        z-index: 10;
        color: black;
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 30px;
        height: 100%;
        font-family: 'Galada', cursive;
    
    }
    
    .sp-trigger{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.4s;
        width: 30px;
        height: 20px;
        z-index: 100;
        display: block;

    }
    .sp-trigger span{
        display: inline-block;
    transition: all 0.4s;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
    }
    .sp-trigger span:nth-of-type(1){
        top: 0;
    }
    .sp-trigger span:nth-of-type(2){
        top: 50%;
        transform: translateY(-50%);
    }
    .sp-trigger  span:nth-of-type(3){
        bottom: 0;
    }
    
    .sp-nav li{
margin: 100px auto;
    }
    /* jsで変更されるところ */
    .sp-menu.is-active{
        left: 0;

    }
    .sp-trigger.is-active span:nth-of-type(1){
        transform: translateY(9px) rotate(-315deg);
    }
    .sp-trigger.is-active span:nth-of-type(2){
        opacity: 0;
    }
    .sp-trigger.is-active span:nth-of-type(3){
        transform: translateY(-9px) rotate(315deg);
    }
    
    .about img{
        width: 100%;
        display: block;
    }
    .self-img{
       display: none;
    }
    .history-items{
        width: 100%;
    }
    .history{
        width: 80%;
    }
    .skill{
        display: block;
        width: 100%;
    }
    .skill-item{
        width: 80%;
    }
    .works{
        display: block;
        width: 100%;
    }
    .works-item{
        width: 80%;
        margin:30px auto;
    }
    .contact{
        width: 100%;
    }
    .form{
        width: 100%;
    }



  
}